# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs and databases
*.log
*.sql
*.sqlite

# PyCharm
.idea/
